<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/home">Live Time Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li id="logOut" class="nav-item active" appLoggeado>
                <a class="nav-link" routerLink="/history">History <span class="sr-only">(current)</span></a>
            </li>
            <li id="logOut" class="nav-item active" appLoggeado>
                <a class="nav-link" routerLink="/dispositivos">Dispositivos <span class="sr-only">(current)</span></a>
            </li>
            <li id="Log" class="nav-item active" appLoggeado>
                <!-- <a class="nav-link" routerLink="/logIn">Log In <span class="sr-only">(current)</span></a> !-->
                <!-- <a class="nav-link" (click)="logIn()">Log In <span class="sr-only">(current)</span></a> -->
                <a class="nav-link" [routerLink]="['/logIn']">Log In <span class="sr-only">(current)</span></a>
            </li>
            <li id="Sign" class="nav-item active" appLoggeado>
                <!-- <a class="nav-link" routerLink="/signUp">Sign Up <span class="sr-only">(current)</span></a> !-->
                <a class="nav-link" (click)="signUp()">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li id="logOut" class="nav-item active" appLoggeado>
                <a class="nav-link" (click)="logOut()">Log Out <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <p class="lead" style="margin-top: 15px; color: #ff3232;" *ngIf="logIn_ng">Please log in first</p>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" name="searchText">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </form>
    </div>
</nav>