<app-navbar></app-navbar>
<div class="jumbotron">
    <div class="container">
        <!--   <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
        !-->
        <h1>Example Chart of what you would see :D</h1>
        <div id="chartContainer" style="height: 600px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </div>
</div>